{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>

<div id="content2">
<div class="slider">
  <img src="{% static 'imagens/banner1.png' %}" class="imagem-jogo">
  <img src="{% static 'imagens/banner2.png' %}" class="imagem-jogo">
  <img src="{% static 'imagens/banner3.png' %}" class="imagem-jogo">
</div>
</div>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
