{% load static %}
<footer> 
    <!-- This is the footer with default 3 divs -->
    <div>
      <p style="margin-top: 45px">&copy; Copyright Looterya - 2020</p>
    </div>
    <div class="footerlinks">

      <img src="{% static 'imagens/IconPayPal.png' %}" class="icones_redes" alt="paypal" width="61" height="69" style="margin-left: 15px; margin-top: -15px"></a> 

        <img src="{% static 'imagens/IconPicPay.png' %}" class="icones_redes" alt="picpay" width="40" height="40" style="margin-left: 15px"></a><img src="{% static 'imagens/iconShadowPay.png' %}" class="icones_redes" alt="shadowpay" width="93" height="40" style="margin-left: 15px"></a>
		
    </div>
   	<div class="footerlinks">

      <a class="icones_redes" href="https://www.instagram.com/looterya/" target="_blank"><img src="{% static 'imagens/IconInstagram.png' %}" alt="Instagram" width="40" height="40" style="margin-left: 15px"></a> 

        <a class="icones_redes" href="https://www.facebook.com/looterya/" target="_blank"><img src="{% static 'imagens/IconFacebook.png' %}" alt="Instagram" width="40" height="40" style="margin-left: 15px"></a>

        <a class="icones_redes" href="https://www.twitter.com/looterya/" target="_blank"><img src="{% static 'imagens/iconTwitter.png' %}" alt="Instagram" width="40" height="40" style="margin-left: 15px"></a>

    </div>
  </footer>
</div>

