@charset "utf-8";

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  .dropdown:hover .dropbtn {
	background-color: #3e8e41;
  }
/* Global Styles */
a:hover {
	color: rgba(255,255,255,1.00);
}
/*header*/
header {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
/* Logo placeholder*/
#logo {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 139px;
	text-align: center;
	color: rgba(255,255,255,1.00);
}
/* div for Links in header */
#headerLinks {
	float: right;
	width: calc( 70% - 139px );
	text-align: left;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	opacity: 0.6;
	margin-top: 40px;
	margin-right: 17%;
}
/* Links in header */
#headerLinks a {
	text-decoration: none;
	color: White;
	padding-left: 66px;
	font-size: 14px;
}
/* Offer text banner*/
#offer {
	font-family: 'Montserrat', sans-serif;
	clear: both;
	
	color: White;
	padding-left: 115px;
	padding-top: 57px;
	
	
}
/* Main content of the site */
#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
}
/* Sidebar */
#content .sidebar {
	font-family: 'Montserrat', sans-serif;
	color: rgba(255,255,255,1.00);
	float: left;
	width: 20%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	background-color: rgba(246,246,246,1.00);
	padding-top: 36px;
	height: 520px;
}
/* main content of the site */
#content .mainContent {
	float: left;
	width: 70%;
	text-align: center;
	padding-left: 4%;
}
/*menubar's properties for menus in sidebar */
#content .sidebar #menubar {
	text-align: left;
	color: rgba(146,146,146,1.00);
	position: relative;
	left: 0%;
}
/* Search field in sidebar */
#content .sidebar #search {
	width: 100%;
	border-radius: 0px;
	height: 42px;
	text-align: center;
	color: rgba(208,207,207,1.00);
	font-size: 14px;
	;
	margin-bottom: 21px;
}
/* Whole page content */
#mainWrapper {
	width: 90%;
	padding-left: 3%;
}
/*menu elements */
.menu ul li {
	list-style-type: none;
	font-size: x-large;
	position: relative;
	left: -35px;
	padding-top: 12px;
}
/* Product rows for catalog */
#content .mainContent .productRow {
	overflow: auto;
	color: black;
}
/* Each product Information in the catalog */
.mainContent .productRow .productInfo {
	float: left;
	padding-left: 4%;
	padding-right: 4%;
	width: 22%;
	border-radius: 10px;
	border-style: double;
	background-color: rgba(0,0,5,0.6);
	margin: 10px;
	
}
/* Prices of a products in catalog */
.productRow .productInfo .price {
	font-family: 'Montserrat', sans-serif;
	color: White;
	font-size: 22px;
	position: relative;
	top: -20px;
}
/* Content holder for products in catalog*/
.productRow .productInfo .productContent {
	position: relative;
	top: -37px;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: White;
	white-space: pre-wrap;
}
/* Buy button for products in catalog */
.productRow .productInfo .buyButton {
	position: relative;
	top: -48px;
	width: 84%;
	background-color:darkblue;
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
}
/* footer */
#mainWrapper footer {
	clear: both;
	overflow: auto;
	background-color: #7B23E0;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	line-height: 1.8;
	padding-top: 0px;
	padding-left: 22px;
	text-align: center;
	padding-bottom: 10px;
	padding-right: 22px;
}
/*Each footer content */
#mainWrapper footer div {
	width: 27%;
	float: left;
	padding-left: 4%;
	padding-right: 2%;
	color: rgba(255,255,255,1.00);
	text-align: justify;
}
/* Links in footer */
footer div a {
	color: rgba(146,146,146,1.00);
	display: block;
	text-decoration: none;
	text-align: center;
}
/* Product's images in catalog */
.productInfo div img {
	width: 100%;
}
/*Links in sidebar */
.sidebar #menubar .menu ul li a {
	color: rgba(146,146,146,1.00);
	text-decoration: none;
}
.sidebar #menubar .menu ul li a:hover {
	color: rgba(107,97,97,1.00);
	text-decoration: none;
}
/* Menu headings in sidebar */
#menubar .menu h2 {
	font-size: 14px;
}
/*Links under menus in sidebar */
#menubar .menu ul li a {
	font-size: 14px;
}
/* Menus in sidebar */
.sidebar #menubar .menu {
	margin-bottom: 29px;
}
/* Container for links in footer */
footer .footerlinks {

    margin-top: 40px;

}

.icones_redes {
    float: left;
    padding-left: 15px;

}















/* Media query for tablets */
@media screen and (max-width:700px) {
/* search field in sidebar */
#content .sidebar #search {
	display: none;
}
/* sidebar */
#content .sidebar {
	float: none;
	width: 100%;
	height: auto;
	overflow: auto;
	padding-left: 12%;
	padding-top: 0px;
}
/* horizontal separators in sidebar */
#content .sidebar hr {
	display: none;
}
/*The sidebar and maincontent of page */
#content {
	position: relative;
	top: -22px;
	width: 100%;
	overflow: hidden;
}
/*menu headings in sidebar */
#menubar .menu h2 {
	display: inline;
	font-size: medium;
	padding-right: 6%;
}
/* Unordered List of links */
#menubar .menu ul {
	display: inline;
}
/*list elements */
#menubar .menu ul li {
	display: inline;
	font-size: medium;
	padding-left: 0%;
	padding-right: 3%;
}
/*The link to be hidden in tablet view */
.sidebar #menubar .menu ul .notimp {
	display: none;
}
/* menus in sidebar */
.sidebar #menubar .menu {
	width: 100%;
	text-align: center;
	position: relative;
	top: 16px;
}
/*menubar in sidebar */
#content .sidebar #menubar {
	position: relative;
	left: -7%;
	overflow: hidden;
	width: 95%;
	padding-top: 0px;
}
/* offer banners content */
#mainWrapper #offer p {
	font-size: small;
}
/* main content region of page */
#mainWrapper #content .mainContent {
	overflow: hidden;
	width: 95%;
	margin-top: 40px;
}
/* Prices of products in catalog view */
.productRow .productInfo .price {
	font-size: 19px;
}
/* Content holders in catalog view */
.productRow .productInfo .productContent {
	font-size: 20px;
	color: red;
}
/* Buy buttons in catalog view */
.productRow .productInfo .buyButton {
	font-size: 15px;
}
/* Container for links in footer */
#mainWrapper footer .footerlinks {
	float: none;
	width: 100%;
	position: relative;
	top: 17px;
	clear: both;
	text-align: center;
	left: 0%;
	padding-bottom: 19px;
}
/* Container for each footer divisions */
#mainWrapper footer div {
	width: 44%;
	text-align: justify;
	font-size: 15px;
}
/* Links in footer */
.footerlinks p a {
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline;
	padding-right: 35px;
}
/* Footer region */
#mainWrapper footer {
	padding-left: 16px;
	overflow: hidden;
}
/* Links in header */
header #headerLinks a {
	padding-left: 0px;
	padding-right: 30px;
}
/* Offer- Text banner */
#mainWrapper #offer {
	padding-left: 22%;
}
/* Paragraphs in footer */
footer .footerlinks p {
	display: inline;
}
}















/*media query for small screen devices */
@media screen and (max-width:480px) {
/*Container for links in header */
#mainWrapper header #headerLinks {
	width: 100%;
	text-align: center;
	background-color: rgba(190,190,190,1.00);
	padding-bottom: 21px;
}
/* Logo placeholder*/
#mainWrapper header #logo {
	width: 100%;
	text-align: center;
}
/* Links in header */
header #headerLinks a {
	text-align: center;
	padding-right: 15px;
	padding-left: 0px;
}
/*Offer - Text Banner */
#mainWrapper #offer {
	padding-left: 0px;
	text-align: center;
}
/* Menubar in sidebar */
#content .sidebar #menubar {
	position: relative;
	left: -8%;
	text-align: center;
}
/*Menu headings in sidebar */
#menubar .menu h2 {
	width: 100%;
	display: block;
}
/* Each product in catalog view */
.mainContent .productRow .productInfo {
	width: 100%;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	left: -2%;
}
#mainWrapper footer div {
	width: 100%;
	margin-left: -16px;
	text-align: justify;
	padding-bottom: 16px;
	overflow: auto;
}
/* Unordered list for menu elements */
.menu ul {
	position: relative;
	padding-left: 24%;
}
/* Container for links in footer */
#mainWrapper footer .footerlinks {
	padding-left: 8%;
}
/* Main content which excludes the sidebar */
#mainwrapper #content .mainContent {
	margin-top: -81px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
}
}

/*Mobile Menu*/

.dropmob {
    background-color: #fff;
    color: #000;
    padding: 16px;
    font-size: 30px;
    border: none;
}

.dropdownmob {
  position: relative;
  display: inline-block;
  left: 46%;
  margin-bottom: 35px;
}

.dropdownmob-mobile {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownmob-mobile a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownmob-mobile a:hover {background-color: #ddd;}

.dropdownmob:hover .dropdownmob-mobile {display: block;}

.dropdownmob:hover .dropmob {
    background-color: #fff;
}

@media screen and (min-width: 769px) {
	.dropdownmob {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	#headerLinks {
		display: none;
	}
}