{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro de skins Looterya</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="{% static 'css/cd_rifa.css' %}" rel="stylesheet" >
  </head>
  <body >
    <div class="main-block">
    <form action="{% url 'cd_rifa' %}" style=" margin:37px 200px 20px 200px ; border-radius: 37px; border-style: double; background:#fff ; "  method="POST">
      {% csrf_token %}
      <h1>Cadastro de Rifas</h1>
      <fieldset>
        <legend>
          <h3>Detalhes rifas</h3>
        </legend>
        <div  class="account-details">
          <div><label>Valor Total</label><input type="text" maxlength="20" name="valor_total" required></div>
          <div><label>Quantidade de rifas</label><input type="value" maxlength="20" name="num_entradas" required></div>
          <div><label>Valor ( unitário )</label><input type="value" maxlength="20" name="valor_entrada" required></div>
          <div><label>Data inicial</label><input type="date"  name="data_inicial" required></div>
          <div><label>Data final</label><input type="date"  name="data_final" required></div>
          <div><label>ID skin</label><input type="text" maxlength="50" name="id_skin" required></div>
          <div><label>Status</label>
            <div>
              <select name="ativa" required>
                <option value=""></option>
                <option value="True">Ativa</option>
                <option value="False">Inativa</option>
              </select>
            </div>

          </div>
         
          
        </div>
      </fieldset>
      <button type="submit" href="/">Enviar</button>
    </form>
    </div> 
  </body>
</html>